<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login page</title>
    <link rel = "stylesheet" type = "text/css" href = "main.css">
</head>
<body>
    <h1>Welcome to Internet-Programming Store.</h1>
    <p> &nbsp;
        <a class = "nodec" href = "/">메인페이지</a>
        <a class = "nodec" href = "/signup">회원가입</a>
    </p><hr><br>
    <form method="get" autocomplete="on" action = "signup.html">
        <p>회원정보를 입력하세요. (필수)
            <p><label>ID:
                <input name = "id" type = "text" placeholder = "아이디를 입력하세요." size = "25" autofocus required> 
            </label></p>
            <p><label>비밀번호:
                <input name = "password" type = "text" placeholder = "비밀번호를 입력하세요." size = "25" required>
            </label></p>
        </p>
        <div2>
            <input class = "submit" type = "submit" value = "로그인">
            <a class = "signup" href = "signup.html">회원가입</a>
        </div2>
        </form>
</body>
</html>